In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')  # Replace 'data.csv' with your file name

In [ ]:
df.head()         # First 5 rows
df.tail()         # Last 5 rows
df.shape          # Rows and columns
df.info()         # Column data types and non-null values
df.describe()     # Summary statistics

In [ ]:
df.isnull().sum()     # Total missing values per column

In [ ]:
df.dropna(inplace=True)  # Remove rows with missing values:

In [ ]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)     # Fill missing values with mean/median/mode

In [ ]:
df.rename(columns={
    'First Name': 'first_name',
    'Last Name': 'last_name'
}, inplace=True)                           # Rename Columns for Consistency

In [ ]:
df.duplicated().sum()      # Number of duplicate rows
df.drop_duplicates(inplace=True)     #  Remove Duplicates

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])     # Convert to datetime
df['Age'] = df['Age'].astype(int)           # Convert to integer

In [ ]:
df['city'] = df['city'].str.lower().str.strip()   # Convert to lowercase & remove spaces

In [ ]:
df['price'] = df['price'].str.replace('$', '').str.replace(',', '')         # Remove Unwanted Characters
df['price'] = df['price'].astype(float)

In [ ]:
df['full_name'] = df['first_name'] + ' ' + df['last_name']      # Create a new column:
df.drop(['unwanted_column'], axis=1, inplace=True)              # Drop unnecessary columns:

In [ ]:
# Remove outliers where salary > 1000000
df = df[df['salary'] < 1000000]

In [ ]:
df.reset_index(drop=True, inplace=True)       # Reset Index (After Cleaning)

In [ ]:
df.to_csv('cleaned_data.csv', index=False)