In [ ]:
import pandas as pd

# Load CSV file into a DataFrame
df = pd.read_csv('your_dataset.csv')
print(df.head())

In [ ]:
df.shape           # Rows and columns
df.info()          # Data types and non-null values
df.describe()      # Summary statistics
df.columns         # List of column names
df.dtypes          # Data types

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna(inplace=True)        # Drop all rows with any missing values
df.drop(columns=['col_name'])  # Drop a column

In [ ]:
df['Age'].fillna(df['Age'].mean(), inplace=True)      # Fill with mean
df['City'].fillna('Unknown', inplace=True)            # Fill with string

In [ ]:
df.rename(columns={'old_name': 'new_name'}, inplace=True)

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])         # Convert to datetime
df['Salary'] = df['Salary'].astype(float)       # Convert to float

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df[df['Age'] > 25]                        # Filter rows
df[(df['Age'] > 25) & (df['Gender'] == 'Male')]

In [ ]:
df['Total'] = df['Price'] * df['Quantity']

In [ ]:
df['Name'] = df['Name'].str.upper()             # Convert to uppercase
df['Email'].str.contains('@gmail.com')          # Filter based on string
df['City'].str.strip()                          # Remove whitespaces

In [ ]:
df.groupby('Department')['Salary'].mean()       # Mean salary by department
df.groupby(['Gender', 'Department']).sum()

In [ ]:
df.sort_values(by='Salary', ascending=False)

In [ ]:
df1 = pd.read_csv('file1.csv')
df2 = pd.read_csv('file2.csv')
merged = pd.merge(df1, df2, on='ID', how='inner')    # or 'left', 'right', 'outer'

In [ ]:
df.to_csv('cleaned_data.csv', index=False)